body {
    font-family: 'Roboto Mono', monospace !important;
    background-image: url(images/IMG_8470.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.card-img-top {
    border-radius: 3rem;
}